.env.exampleCOMPANY_NAME="Vercel Inc."
TWITTER_CREATOR="@vercel"
TWITTER_SITE="https://nextjs.org/commerce"
SITE_NAME="Next.js Commerce"
SHOPIFY_REVALIDATION_SECRET=""
SHOPIFY_STOREFRONT_ACCESS_TOKEN=""

BASE_URL="http://192.168.1.119:8000"
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BJoe6W364ArPCalGNYP8-jSblx2g2PAHgBlIP9QVtFdc6-tYssRAz_161lKf3MKSzqjwClIdaDoe7VkADZ18vRo

NEXT_PUBLIC_VAPID_PRIVATE_KEY=42StDIyiipjXoTOYASrYaAnOixgbVZmN1SsnoPLoTuo